#navbar{
  
  width:30%;
  position:fixed;
  top:0px;
  left:0px;
  right:300px;
  bottom:0px;
  background-color:#AEAEAE;
}
.main-section{
  margin-left:31%;
}
#first{
  margin-top:30px;
  margin-left:30px;
}
.nav-link{
  margin-top:30px;
  margin-left:30px;
  text-decoration:none;
  color:black;
  font-size:23px;
 line-height:2;
}
#two{
  text-align:center;
}
#in{
  text-align:center;
  font-size:25px;
  background-color:black;
  color:white;
}
@media (max-width:600px){
  header{
    width:100%;
  }
}
  


